<form action="/depositfunds" method="post" class="deposit-form">
    <div class="deposit-div">
        <div class="welcome-title">
            Select plan
        </div>
        <select name="plan" id="plan" class="deposit-select">
            <option value="basic">Basic</option>
            <option value="bronze">Bronze</option>
            <option value="silver">Silver</option>
            <option value="gold">Gold</option>
            <option value="diamond">Diamond</option>
            <option value="platinum">Platinum</option>
        </select>
        <div class="welcome-title">
            Select Currency
        </div>
        <select name="currency" id="currency" class="deposit-select">
            <option value="bitcoin">Bitcoin</option>
            <option value="ethereum">Ethereum</option>
            <option value="trc">trc20</option>
        </select>
        <h4>Amount(&pound;):</h4>
        <input class="deposit-select" name="amount" id="deposit-amount" type="number" placeholder="Amount" value="500" required>

        <div class="deposit-submit" id="deposit-btn" type="submit">
            <ion-icon name="cart"></ion-icon>
            <div class="submit">
                Submit
            </div>
        </div>
    </div>

    <div class="deposit-div hidden">
        <div class="welcome-title">
            Please confirm your deposit:
        </div>
        <div class="deposit-description">
            please send your payments to this account : <span id="deposit-addr" class="dd-name" style="word-wrap: break-word;" ></span>
        </div>
        <div class="deposit-details">
            <div>
                <span class="dd-name">plan</span>: <span class="dd-value" id="plan-span"></span>
            </div>

            <div>
                <span class="dd-name">profit</span>: <span class="dd-value" id="profit-span"></span>
            </div>

            <div>
                <span class="dd-name">principal return</span>: <span class="dd-value">yes</span>
            </div>

            <div>
                <span class="dd-name">principal withdrawal</span>: <span class="dd-value">Not available</span>
            </div>

            <div>
                <span class="dd-name">amount</span>: &pound;<span class="dd-value" id="amount-span"></span>
            </div>
        </div>
        <div class="submit-div">
            <button type="submit">Save</button>
            <a href="/dashboard?page=deposit">cancel</a>
        </div>
    </div>
</form>

<script src="/deposit.js"></script>