<%- include("partials/_header")%>
<header id="about-header" class="about-header fadeaway">
    <div class="about-headerwrap">
        <%- include("partials/_nav.ejs")%>
        <section class="about hero-section">
            <div class="hero-content" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <div class="a-w-c" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">About Our company</div>
                <div class="hero-title" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">We commit ourselves to excellence</div>
                
            </div>
        </section>
       </div>
</header>

<section class="about-s-s">
    <div class="ss s-wrapper">
       <div class="ss-image about-image">
        <img src="/images/dormant-about-calculator.jpg" alt="pen and paper">
       </div>

       <div class="ss-writeup">
        <div class="about-page-a-w-c">
            let's talk about us
        </div>
        <h1 class="ss-title">
            Our world-class security systems keep your money safe
        </h1>
        <p class="ss-desc">
            dormantrefunds is one of the world's leading digital asset managers and investment trading company based in United Kingdom 🇬🇧 The company offers two types of investment plans which are the Basic Plan and the VIP Plan. The Basic Plan offers a 50% monthly profit with a minimum deposit of &dollar;500 and a maximum deposit of &dollar;4,999 and is active for an investment period of one month. The VIP Plan offers a 120% daily profit with a minimum deposit of &dollar;5,000 and the maximum deposit is unlimited and is active for an investment period of one month. Mining contract plan Share holder minimum &dollar;50,000 maximum unlimited All investment plans comes with a referral commission of 10% on the initial deposit.
        </p>

        <p class="ss-desc">
            dormantrefunds provides investors with professional access to the new asset class around digital assets. Through tradingaccess invest Limited financial products and services, investors can minimize losses and achieve above-market returns for their digital wealth. The active management of digital assets is based on quantitative data models and artificial intelligence (AI). The performance and risk protection of the managed portfolios make tradingaccess invest Limited one of the world’s leading digital asset managers.
        </p>
       </div>
    </div>
    
</section>

<section>
    <div class="avmv-wrap">
       <div class="avmv-items-wrap owl-carousel owl-theme">
        <div class="avmv-items">
            <div class="avmv-header ss-title">Our Approach</div>
            <div class="avmv-writeup ss-desc">
                The dormantrefunds team blends the time tested attributes of investment with transparency and efficiency.
            </div>
        </div>
        <div class="avmv-items">
            <div class="avmv-header ss-title">Our Vision</div>
            <div class="avmv-writeup ss-desc">
                To be the leading global investment platform for individuals and organizations
            </div>
        </div>
        <div class="avmv-items">
            <div class="avmv-header ss-title">Our Mission</div>
            <div class="avmv-writeup ss-desc">
                Our mission is to create long-term value for our investors through the careful stewardship of their capital.
            </div>
        </div>
        <div class="avmv-items">
            <div class="avmv-header ss-title">Our Value</div>
            <div class="avmv-writeup ss-desc">
                The modern world is in a continuous movement and people everywhere are looking.
            </div>
        </div>
       </div>
    </div>
</section>


<%- include("partials/_footer")%>