<%- include("partials/_header")%>
<header id="about-header" class="about-header fadeaway">
    <div class="about-headerwrap">
        <%- include("partials/_nav.ejs")%>
        <section class="about hero-section">
            <div class="hero-content" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <div class="a-w-c" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">Question Guide</div>
                <div class="hero-title" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">See frequently asked questions</div>
                
            </div>
        </section>
       </div>
</header>

<section class="bg-gray">
    <div class="faq-wrap services-wrap s-wrapper">
        <div class="a-w-c">
            faq's
        </div>
        <h1 class="ss-title">
           Here are the most frequent questions
        </h1>
        <div class="faq-accordion-wrap">
            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    Who are you?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    At Dormantaccountrefunds we strongly believe in mutual growth and transparency of the services we offer. You can earn from where you stay without taking more risk. We developed our system to give you passive income using different investment plans. We made the advanced tools available for all standard of users and reduced the risk factors in investment platforms. Now we enhanced the branches over various growing factors in cryptocurrency market. Using highly sophisticated tactics, our experience trading team will continuously analyze the strategies and work to grow your investments constantly.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    How do i open an account? 
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Opening an account with us is quite easy. You need to click on the referral link, fill in your details and you will be redirected to our portal. You can easily start using your dashboard.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    Are you duly registered and regulated?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Yes, We are duly and legimately registered.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    How can i make a deposit?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Once you are signed up, you can make your first deposit. All deposits must be made through the Dashboard. You can login using the member username and password used when creating an account.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    How long before my deposit gets processed into my account?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Deposits are added and activated to accounts on confirmation from the Blockchain that transaction for the cryptocurrencies was completed.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    What is the minimum withdrawal amount?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Minimum withdrawal amount is &pound;10.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    How long does it take to process my withdrawal?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Withdrawals are processed automatically and would take not more than 30 minutes.
                </div>
            </div>

            <div class="accordion-items">
                <div class="accordion-question ss-desc">
                    Is your refferal offer open to all investors?
                    <div class="aq">+</div>
                </div>
                <div class="accordion-answers ss-desc">
                    Yes our referral offer is open to all investors. We also offer 10% referral commission.
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let faqQ = document.getElementsByClassName("accordion-question")
    let faqA = document.getElementsByClassName("accordion-answers")
    let aq = document.getElementsByClassName("aq")

    for(let i=0; i < faqQ.length; i++){
        faqQ[i].addEventListener("click", ()=>{
            
            faqA[i].classList.toggle("show-faq")
            
            if(aq[i].innerHTML === "+"){
                aq[i].innerHTML = "-"
            }else{
                aq[i].innerHTML = "+"
            }
        })
    }

</script>

<%- include("partials/_footer")%>