@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito+Sans&family=Nunito:ital,wght@0,300;1,400&family=Secular+One&display=swap');
body{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
.dash-wrap{
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
}
.dash-nav{
    width: auto;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}
.dash-nav.collapse{
    width: 3%;
}
.dash-nav.collapse .dash-nav-welcome, 
.dash-nav.collapse .nav-item-title, 
.dash-nav.collapse .name, 
.dash-nav.collapse .toggle-icon{
    opacity: 0;
}
.dash-nav a{
    text-decoration: none;
}
.dash-nav-welcome{
    padding: 50px 0 20% 0;
    border-bottom: 0.001em solid rgb(204, 194, 194);
}
.welcome-title{
    font-weight: 400;
    font-size: 25px;
}
.nav-item-title{
    font-size: 12px;
    color: rgb(204, 194, 194);
}
.nav-item-tab{
    width: 200px;
    display: flex;
    padding: 15px 0;
    color: rgb(92, 83, 83);
}
.nav-item-tab button{
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.nav-item-tab div{
    padding: 10px;
}
.nav-sub-items-wrap{
    width: 100%;
}
.nav-sub-item{
    width: 100%;
    margin-bottom: 10px;
}
.nav-sub-item a{
    text-decoration: none;
    font-size: 14px;
}
.nav-sub-item a:hover{
    color: blue;
}
.dash-nav-items{
    /*border-top: 0.001em solid rgb(204, 194, 194);*/
    padding: 5px 0;
}
.item-name{
    margin-left: 20%;
    color: rgb(119, 103, 103);
}
.toggle-icon{
    margin-left: auto;
    margin-right: 10px;
}

/*main dashboard styles*/
.dash-body{
    width: 100%;
    overflow-y: auto;
    background: rgb(241, 246, 247);
}
.dash-body-header{
    width: 98%;
    display: flex;
    padding: 1%;
    justify-content: right;
    align-items: center;
    background: linear-gradient(to left, rgb(9, 155, 0) 0%,  rgb(28, 31, 182) 100%);
}
.dash-user{
    display: flex;
    color: white;
}
.dash-hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.dash-hamburger div{
    width: 20px;
    height: 3px;
    margin: 1px 0;
    background-color: white;
}
.dash-body-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: white;
}

/*deposit inside dash*/
.deposit{
    display: flex;
    width: 80px;
    height: 30px;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(53, 187, 46);
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px gainsboro;
}
.deposit div{
    padding: 0 5px;
    color: white;
}
.dash-body-widget{
    padding: 25px 0;
    margin: 25px 0;
    background-color: white;
}
.dash-body-acct-info{
    display: flex;
    justify-content: space-evenly;
}
.dash-acct-info-item{
    width: 20%;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px 5px rgb(235, 228, 228);
}
.item-value{
    font-size: 25px;
    color: brown;
    margin: 20px 0;
}
.item-info{
    display: flex;
    align-items: center;
    letter-spacing: 2;
    color: rgb(179, 159, 159);
}
.dash-body-chart, .dash-crypto-prices{
    padding: 20px;
    margin: 5% 15px;
    background-color: white;
}
.dash-body-footer{
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.deposit-form{
    width: 80%;
    margin: 5% auto;
    padding: 3%;
    background-color: white;
    box-shadow: 1px 1px 10px 5px rgb(235, 228, 228);
}
.deposit-div, .withdraw-div, .history-div, .ref-div, .profile-div{
    width: 80%;
    margin: 5% auto;
    padding: 3%;
    background-color: white;
    box-shadow: 1px 1px 10px 5px rgb(235, 228, 228);
}
.deposit-select{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}
.deposit-submit{
    display: flex;
    justify-content: space-between;
    width: 80px;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 40px;
    border: white;
    background-color: rgb(28, 31, 182);
    box-shadow: 1px 1px 10px 5px gainsboro;
}
.deposit-description{
    padding: 4% 0 2% 0;
}
.deposit-details div{
    margin: 10px 0;
}
.dd-name{
    font-weight: bold;
}
.cpy-text{
    background-color: rgb(204, 194, 194);
}
.submit-div button, .submit-div a, .submit-history-search, .approve-deposit{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 30px;
    background-color: blue;
}

/*withdraw page styles*/
.withdraw-div div{
    margin: 10px 0;
    font-family: 'Nunito Sans', sans-serif;
}
.papa{
    display: flex;
    justify-content: space-evenly;
}
.papa-el-head{
    font-weight: 700;
}
.available-el{
    color: red;
}
.pending-el{
    color: rgb(53, 187, 46);
}

/*history page styles*/
.date-format{
    font-size: 12px;
    color: rgb(204, 194, 194);
}
.history-search-params{
    display: flex;
    justify-content: space-between;
}
.history-header{
    padding: 2%;
}
.history-items{
    border: 1px solid rgb(235, 228, 228);
    background-color: rgb(235, 228, 228);
    margin-bottom: 20px;
}
.history-search-divs{
    padding: 2%;
    border-left: 1px solid rgb(235, 228, 228);
}
.history-search-params, .history-display-head, .history-display-body, .history-total{
    background-color: white;
    border-bottom: 1px solid rgb(235, 228, 228);
}
.history-search-divs div{
    margin: 15px 0;
}
.history-display-head, .history-display-body, .history-total{
    display: flex;
    justify-content: space-between;
}
.hdh-item, .hdb-item{
    width: 30%;
    padding: 2%;
    border-left: 1px solid rgb(235, 228, 228);
}
.history-total div{
    padding: 20px;
}

/*referal page styles*/
.ref-link-copy{
    display: flex;
    margin: 15px 0;
}
.ref-link-copy input{
    padding: 5px;
    width: 50%;
    font-size: 16px;
    color: rgb(94, 78, 78);
    background-color: aliceblue;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    pointer-events: none;
}
.cpy{
    padding: 4px 10px;
    border-radius: 4px;
    margin-left: 2px;
    border: 1px solid gray;
}
.cpy:hover{
    cursor: pointer;
    background-color: rgb(28, 31, 182);
    color: white;
}
.ref-info{
    margin: 20px 0;
}

/*profile page styles*/
.profile-div-wrap{
    margin: 2%;
}
.profile-div-items{
    width: 50%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.profile-div-items input{
    padding: 2%;
    border: 1px solid rgb(204, 194, 194);
}

/*admin panel styles*/
.deposit-req-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.deposit-req{
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 1px 1px 5px 5px rgb(235, 228, 228);
}

@media(max-width: 799px){
    .dash-nav{
        width: auto;
        height: auto;
        display: none;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        box-shadow: 1px 1px 5px 5px rgb(235, 228, 228);
    }
    .dash-nav.show{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 10;
    }
    .dash-nav.collapse{
        width: auto;
    }
    .dash-nav.collapse .dash-nav-welcome, 
    .dash-nav.collapse .nav-item-title, 
    .dash-nav.collapse .name, 
    .dash-nav.collapse .toggle-icon{
        opacity: 1;
    }
    .dash-body{
        min-height: 100vh;
    }
    .dash-body-wrap{
        height: 100%;
    }
    .dash-body-header{
      position: fixed;
      z-index: 100;
    }
    .dash-body-nav{
        padding-top: 20%;
        align-items: center;
    }
    .dash-body-footer{
        width: 90%;
        padding: 5%;
        position: relative;
        bottom: 0;
    }

    /*deposit inside body*/
    .dash-body-acct-info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .dash-acct-info-item{
        width: 80%;
        padding: 10px;
        margin-bottom: 5%;
        background-color: white;
        box-shadow: 1px 1px 10px 5px rgb(235, 228, 228);
    }
    /*withdraw inside body*/
    .account-el{
        position: relative;
        width: 60px;
        overflow: scroll;
    }
    /*history*/
    .history-search-params{
        overflow-x: auto;
    }
    /*profile*/
    .profile-div-items{
        width: 100%;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
    }
}