@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito+Sans&family=Nunito:ital,wght@0,300;1,400&family=Secular+One&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
img{
    width: 100%;
}
.capitalize{
    text-transform: capitalize;
}
.btn{
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 20px;
    margin: 10px 2px;
}
.bg-gray{
    background-color: rgb(241, 234, 234);
}
.notification-bar{
    position: fixed;
    width: 300px;
    height: 10vh;
    top: 80vh;
    left: 50%;
    display: none;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-50%);
    color: white;
    background-color: rgb(61, 56, 56);
}
 ion-icon{
    font-size: 35px;
    color: rgb(122, 192, 105);
}
.header{
    height: 99vh;
    background-image: url("../images/trading1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: right;
    background-position-y: top;
}
/*carousel related styles*/
.switchbg{
    background-image: url("../images/trading2.jpg")
}
.hidden{
    display: none;
}
/*carousel related style ends*/
.headerwrap{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 0%, rgba(23, 17, 54, 1) 60%);
}
.logo{
    width: 50px;
    height: 50px;
}
.logo svg{
    width: 100%;
    height: 100%;
}
.logo svg g{
    fill: rgb(95, 194, 95);
}
nav{
    display: flex;
    width: 80%;
    height: 15%;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.001em solid rgb(204, 194, 194);
}
.nav-items ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-items ul li{
    display: inline;
    margin: 0 20px;
}
.nav-items ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.contact, .contact-abt, .getstarted{
    background-color: rgb(95, 194, 95);
}
.contact a, .contact-abt a, .getstarted a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
.hamburger-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: white;
}
.hamburger-menu div{
    width: 20px;
    height: 3px;
    margin: 1px 0;
    background-color: black;
}
.hero-section{
    display: flex;
    width: 90%;
    height: 80%;
    margin: auto;
    align-items: center;
}
.a-w-c{
    width: 40%;
    color: rgb(95, 194, 95);
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 2px;
}
.a-w-c::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    background-color: rgb(95, 194, 95);
}
.a-w-c:hover{
    color: white;
    background-color: rgb(95, 194, 95);
}
.hero-content{
    width: 60%;
    color: white;
}
.hero-title{
    font-family: 'Nunito Sans', sans-serif;
    font-weight:300;
    font-size: 45px;
    margin: 5% 0;
}
.hero-description{
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}    
.lgin-sgnp{
    display: flex;
}
.login-btn{
    font-weight: 700;
    background-color: rgb(77, 153, 184);
}
.signup-btn{
    font-weight: 700;
    background-color: rgb(122, 192, 105);
}

/* away from header and hero*/

.s-wrapper{
    display: flex;
    width: 80%;
    padding-top: 10% ;
    margin: auto;
    justify-content: space-between;
}
.ss-image{
    width: 40%;
}
.ss-image img{
    border-radius: 10px;
}
.ss-writeup{
    width: 50%;
}
.ss-title{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 35px;
}
.ss-desc{
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}
.getstarted{
    width: 10%;
    margin: 20px auto;
    text-align: center;
}
.about{
    padding-bottom: 1%;
}
.services{
    background-color: rgb(245, 245, 245);
    padding-bottom: 3%;
}
.services-wrap{
    padding-top: 5%;
   align-items: center;
   flex-direction: column;
}
.service-items-wrap{
    display: flex;
    justify-content: space-between;
}
.service-items{
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.service-items:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px gray;
}

.pricing-plans{
    padding-bottom: 4%;
    background: rgb(247, 238, 224);
}
.pricing-wrap{
    flex-direction: column;
    align-items: center;
   flex-direction: column;
}

/*toggle stylings*/
.toggle-cont{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.toggle{
    width: 50px;
    height: 30px;
    padding: 1px;
    border-radius: 30px;
    background: linear-gradient(to left, rgb(129, 113, 211) 0%, rgba(23, 17, 54, 1) 100%);
}
.toggle-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(95, 194, 95);
}
/**/
.vip{
    display: none;
}

.pricing-plan-itmes-wrap{
    width: 80%;
    display: flex;
    padding-top: 3%;
    margin: auto;
    justify-content: center;
}
.pricing-plan-items{
    width: 30%;
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    text-align: center;
}
.pricing-plan-items:nth-child(2){
    transform: scale(1.1);
    background: linear-gradient(to right, rgb(129, 113, 211) 0%, rgba(23, 17, 54, 1) 100%);
    color: white;
}
.planprice{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
    /*font-family: 'Nunito Sans', sans-serif;*/
}
.additionalinfo{
    padding: 0 10%;
    margin-bottom: 10px;
    text-align: center;
}
.additionalinfo div{
    padding: 10px 0;
    font-family: 'Nunito Sans', sans-serif;
    border-top: 1px solid gray;
}
.additionalinfo div:last-child, .additionalinfo div:nth-child(13){ 
    border-bottom: 1px solid gray;
}
.learnmore{
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right, rgb(129, 113, 211) 0%, rgba(23, 17, 54, 1) 100%);
}
.learnmore a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*styles when button is toggled*/
#price-section.switchvip .toggle-btn{
    margin-left: auto;
}
#price-section.switchvip .vip{
    display: block;
}
#price-section.switchvip .basic{
    display: none;
}
/**/
.news-widget-container{
    width: 100%;
}
.news-wrap{
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}

footer{
    background:  rgba(23, 17, 54, 1);
}
.footer-wrap{
    padding: 3%;
    color: white;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-right{
    width: 60%;
}
.footer-left{
    width: 30%;
}
.footer-logo{
    width: 50px;
    background: rgb(95, 194, 95);
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    margin: 10px;
    text-decoration: none;
    color: white;
}
.footer-mail-address{
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
}
.mail p, .address p{
    color: gray;
}
.newsletter input{
    padding: 10px;
    border-radius: 5px;
    border: none;
   
}
.newsletter-btn{
    background-color: rgb(95, 194, 95);
    color: white;
}
.copyright{
    width: 100%;
    padding: 10px 0;
    background-color: white;
    text-align: center;
}
.copyright span{
    color: rgb(95, 194, 95);
}

@media (max-width: 1200px){
    .contact{
        display: none;
    }
    .btn.getstarted, .btn.contact-abt{
        width: 30%;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 16px;
        margin: 10px auto;
    }
}

@media (max-width: 990px){
    .hamburger-menu{
        display: flex;
    }
    .nav-items{
        display: none;
        width: 90%;
        position: absolute;
        top: 20%;
        left: 5%;
        z-index: 10;
    }
    .nav-display{
        display: block;
    }
    .nav-items ul{
        flex-direction: column;
        background-color: white;
    }
    .nav-items ul li{
        display: inline;
        margin: 0 0;
        border: 1px solid rgb(241, 234, 234);
        padding: 10px;
    }
    .nav-items ul li a{
        color: rgba(23, 17, 54, 1);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
    }
    .hero-content{
        width: 60vw;
        color: white;
    }
    .pricing-plan-itmes-wrap{
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        margin: auto;
        justify-content: space-around;
        align-items: center;
    }
    .pricing-plan-items{
        width: 50%;
        margin: 5px 0;
    }
    .pricing-plan-items:nth-child(2){
        transform: scale(1);
    }
    .planprice{
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 10px;
        /*font-family: 'Nunito Sans', sans-serif;*/
    }
    .footer-wrap{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-right{
        width: 100%;
    }
    .footer-left{
        width: 100%;
    }
    .footer-logo{
        width: 50px;
        background: rgb(95, 194, 95);
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    .footer-mail-address{
        width: 100%;
        display: flex;
        border-bottom: 1px solid gray;
        justify-content: space-between;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media(max-width: 799px){
    .a-w-c{
        width: 80%;
    }
    .s-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .ss-image{
        width: 80%;
    }
    .ss-image img{
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .ss-writeup{
        width: 80%;
    }
    .ss-title{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 35px;
    }
    .service-items-wrap{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
    }
    .service-items{
        width: 80%;  
        margin-bottom: 10px
    }
}

@media (max-width: 500px){
    .notification-bar{
        position: fixed;
        width: 95%;
        padding: 3px 3%;
        height: 10vh;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: space-around;
        transform: translateX(0%);
        color: white;
        background-color: rgb(61, 56, 56);
    }
    .a-w-c{
        width: 90%;
    }
    .hero-content{
        width: 90%;
        color: white;
    }
    .hero-title{
        font-family: 'Nunito Sans', sans-serif;
        font-weight:300;
        font-size: 30px;
        margin: 5% 0;
    }
  
    .ss-image{
        width: 90%;
    }
    .ss-writeup{
        width: 90%;
    }
    .ss-title{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
    }
    .service-items{
        width: 90%;  
        margin-bottom: 10px
    }
    
    /*toggle stylings*/
    .toggle-cont{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    /**/
    .pricing-plan-itmes-wrap{
        width: 90%;
    }
    .pricing-plan-items{
        width: 100%;
    }
    .planprice{
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 10px;
        /*font-family: 'Nunito Sans', sans-serif;*/
    }

    .news-widget-container{
        width: 100%;
    }
    .news-wrap{
        width: 90%;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5%;
    }

    .footer-mail-address{
        width: 90%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid gray;
        justify-content: space-between;
        font-family: 'Nunito Sans', sans-serif;
    }
    .newsletter input{
        padding: 10px;
        border-radius: 5px;
        border: none;
       
    }
    .newsletter-btn{
        background-color: rgb(95, 194, 95);
        color: white;
    }
}